
.guides,.links{
    display: flex;
    flex-direction: column;
}
.guides a{
    text-decoration: none;
    color: blueviolet;
    margin-top: 10px;
}
.links a{
    text-decoration: none;
    color: blueviolet;
    margin-top: 10px;
}
.contact a{
   font-size: 30px;
   text-decoration: none;
   color: blueviolet;
}